* text=auto !eol
/.docmeta -text
/.editorconfig -text
/.pkgmeta -text
AceAddon-3.0/AceAddon-3.0.lua svn_keywords=Date%0AId%0ARev
AceBucket-3.0/AceBucket-3.0.lua svn_keywords=Date%0AId%0ARev
AceComm-3.0/AceComm-3.0.lua svn_keywords=Rev+Date+Id
AceComm-3.0/ChatThrottleLib.lua svn_keywords=
AceConfig-3.0/AceConfig-3.0.lua svn_keywords=Id
AceConfig-3.0/AceConfig-3.0.xml svn_keywords=Id
AceConfig-3.0/AceConfigCmd-3.0/AceConfigCmd-3.0.lua svn_keywords=Id
AceConfig-3.0/AceConfigCmd-3.0/AceConfigCmd-3.0.xml svn_keywords=Id
AceConfig-3.0/AceConfigDialog-3.0/AceConfigDialog-3.0.lua svn_keywords=Id
AceConfig-3.0/AceConfigRegistry-3.0/AceConfigRegistry-3.0.lua svn_keywords=Id
AceConfig-3.0/AceConfigRegistry-3.0/AceConfigRegistry-3.0.xml svn_keywords=Id
AceConsole-3.0/AceConsole-3.0.lua svn_keywords=Id+Rev+Date
AceConsole-3.0/AceConsole-3.0.xml svn_keywords=Id+Rev+Date
AceDB-3.0/AceDB-3.0.lua svn_keywords=Id
AceDBOptions-3.0/AceDBOptions-3.0.lua svn_keywords=Rev%00250ADate%0AId
AceDBOptions-3.0/AceDBOptions-3.0.xml svn_keywords=Rev%0AId%00250ADate
AceEvent-3.0/AceEvent-3.0.lua svn_keywords=Date%0AId%0ARev
AceGUI-3.0/AceGUI-3.0.lua svn_keywords=Id+Rev+Date
AceGUI-3.0/widgets/AceGUIContainer-DropDownGroup.lua svn_keywords=Rev+Id+Date
AceGUI-3.0/widgets/AceGUIContainer-Frame.lua svn_keywords=Rev+Id+Date
AceGUI-3.0/widgets/AceGUIContainer-InlineGroup.lua svn_keywords=Rev+Id+Date
AceGUI-3.0/widgets/AceGUIContainer-ScrollFrame.lua svn_keywords=Rev+Id+Date
AceGUI-3.0/widgets/AceGUIContainer-TabGroup.lua svn_keywords=Rev+Id+Date
AceGUI-3.0/widgets/AceGUIContainer-TreeGroup.lua svn_keywords=Rev+Id+Date
AceGUI-3.0/widgets/AceGUIWidget-Button.lua svn_keywords=Rev+Id+Date
AceGUI-3.0/widgets/AceGUIWidget-CheckBox.lua svn_keywords=Rev+Id+Date
AceGUI-3.0/widgets/AceGUIWidget-ColorPicker.lua svn_keywords=Rev+Id+Date
AceGUI-3.0/widgets/AceGUIWidget-DropDown-Items.lua svn_keywords=Rev%0AId%00250ADate
AceGUI-3.0/widgets/AceGUIWidget-DropDown.lua svn_keywords=Rev+Id+Date
AceGUI-3.0/widgets/AceGUIWidget-EditBox.lua svn_keywords=Rev+Id+Date
AceGUI-3.0/widgets/AceGUIWidget-Heading.lua svn_keywords=Rev+Id+Date
AceGUI-3.0/widgets/AceGUIWidget-Keybinding.lua svn_keywords=Rev+Id+Date
AceGUI-3.0/widgets/AceGUIWidget-Slider.lua svn_keywords=Rev+Id+Date
AceHook-3.0/AceHook-3.0.lua svn_keywords=Date%0AId%0ARev
AceLocale-3.0/AceLocale-3.0.lua svn_keywords=Id+Date+Rev
AceSerializer-3.0/AceSerializer-3.0.lua svn_keywords=Id
AceTab-3.0/AceTab-3.0.lua svn_keywords=Id
AceTimer-3.0/AceTimer-3.0.lua svn_keywords=Date%0AId%0ARev
CallbackHandler-1.0/CallbackHandler-1.0.lua svn_keywords=Id+Rev+Date
/LICENSE.txt svneol=native#text/plain
/changelog.txt svn_keywords=Revision
tests/AceAddon-3.0.lua svneol=native#text/plain
tests/AceComm-3.0-pre-4.1.lua -text
tests/AceDB-3.0.lua svneol=native#text/plain
tests/AceEvent-3.0.lua svneol=native#text/plain
tests/AceTimer-3.0-test1.lua svn_keywords=Id+Rev+Date
tests/AceTimer-3.0-test2.lua svn_keywords=Id+Rev+Date
tests/LibStub.lua svneol=native#text/plain
tests/wow_api.lua svneol=native#text/plain
